.book {
    display: inline-grid;
    align-content: space-between;
    height: 550px;
    width: 48%;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s;
}
.book:hover {
    box-shadow: 0px 0px 10px 0px #1b1e21;
}
.pagination {
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 10px;
}
.page-link {
    padding: 5px 10px;
    margin: 0 10px;
}
.page-item:hover {
    background-color: #fefefe;
}
.pagination .active {
    background-color: #fefefe;
}
.pagination li+li {
    border-left: 2px solid #4e555b;
}
.information {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.annotation {
    text-align: center;
    margin: 10px 0;
}
.annotation table {
    margin: 10px 0;
    width: 100%;
}

.image {
    margin: 10px auto;
    width: 160px;
    height: 240px;
}
.image a img {
    width: 160px;
    height: 240px;
    box-shadow: 0px 0px 20px 5px #fefefe;
}
.buttons {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}
.button-1 {
    cursor: pointer;
    display: block;
    min-width: 125px;
    padding: 5px 10px;
    border: 3px solid #fefefe;
    background-color: #ced4da;
    transition: 0.2s;
}
.buttons .active {
    background-color: #fefefe;
}

/*
    Main
*/
main {
    display: flex;
    width: 80%;
    min-height: calc(100vh - 120px);
    margin: 10px auto;
}
