* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'Farro', Medium;
    line-height: 1.5em;
}

p {
    padding: 5px 0;
}

* a {
    color: black;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

html, body {
    margin: 0;
    background: darkcyan;
}
.grid-container {
    display: grid;
    min-height: 100vh;
    width: 100%;
}

.allInfo {
    margin: 10px;
    /*background: linear-gradient(-0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%) no-repeat fixed;*/
    border-radius: 20px;
    border: 1px solid #000000;
    box-shadow: 5px 10px 15px -5px #000000;
}

.header {
    /*background: linear-gradient(to bottom, rgba(201, 172, 26, 1) 0%, rgba(189, 111, 189, 1) 38%, rgba(0, 139, 139, 1) 84%, rgba(0, 139, 139, 1) 100%);*/

}

.footer {
    /*background: linear-gradient(to bottom, rgba(0, 139, 139, 1) 0%, rgba(0, 139, 139, 1) 16%, rgba(189, 111, 189, 1) 62%, rgba(201, 172, 26, 1) 100%);*/

}

.ads {
    padding: 10px;
    margin: 10px;
}

.ads img {

    width: 100px;
}

.nav {
    margin: 10px;
}

.nav a {
    width: 100%;
    margin: 5px auto;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    display: inline-block;
}
.submenu a {
    width: 100%;
    margin: 5px auto;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    display: inline-block;
}

.btn-2 {
    display: block;
    padding: 1em 3em;
    border: 3px solid #4A90E2;
    transition: all 300ms ease;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.btn-2:before {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background: #4A90E2;
    top: 0;
    left: auto;
    right: 0;
    z-index: -1;
    transition: all 300ms ease;
}

.btn-2:hover {
    color: white;
    box-shadow: none;
}

.btn-2:hover:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #4A90E2;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.main {
    margin: 10px;
    flex-wrap: wrap;
}

.image img {
    height: 333px;
    width: 220px;
    padding: 10px;
    border-radius: 20px;
}


.annotation {
    margin: 10px;
}

.shops {
    width: 75px;
}

.pagination {
    text-align: center;
    margin: 10px 5px;
}

.pagination a {
    text-decoration: none;
    font-weight: 500;
    position: relative;
    color: black;
    display: inline-block;
}

.button-item {
    padding-bottom: 2em;
}

.btn-1 {
    padding: 5px 10px;
    border: 3px solid #4A90FF;
    transition: all 300ms ease;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.btn-1:before {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background: #4A90FF;
    top: 0;
    left: 50%;
    z-index: -1;
    transition: all 0ms ease;
}

.btn-1:hover {
    color: white;
    box-shadow: none;
}

.btn-1:hover:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #4A90E2;
    top: 0;
    left: 0%;
    z-index: -1;
    transition: all 300ms ease;
}

.red {
    color: red; !important;
    background-color: white;
    font-weight: 700;
}

.button-1  {
    display: block;
    padding: 10px 20px;
    color: #212529;
    text-decoration: none;
}
.moreDetails a:hover {
    text-decoration: none;
    color: #212529;
}
.mainBtn {
    font-weight: 700;
    margin: 10px auto;
    border: 3px solid #545b62;
    box-shadow: 5px 10px 15px -5px #000000;
    border-radius: 10px;
}
.addButton:active {
    box-shadow: 0px 0px 0px 0px #000000;
}
.buttons {
    display: flex;
}
