/*COLOR*/
/*#4e555b silver 78, 85, 91*/
/*
    ALL
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
body {
    background-color: #ced4da;
    min-height: 100%;
}
body, html {
    height: 100vh;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: #000000;
}

ul {
    display: flex;
    list-style: none;
}
#app {
    min-height: 100vh;
}

/*
    HEADER
*/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #fefefe;
}
.header-logo {
    margin: 0 30px;

}
.header-search {

}


.header-nav {

}
.header-ul {

}
.header-ul li+li {
    border-left: 2px solid #4e555b;
}
.header-link {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
}
.header-link:hover {
    background-color: rgba(78, 85, 91, 0.5);
    color: #ffffff;
}

/*
    Main
*/
main {
    display: flex;
    width: 80%;
    min-height: calc(100vh - 70px);
    margin: 10px auto;
}


