@media (max-width: 450px) {

    .pagination a {
        padding: 5px 5px;
    }
}

@media (min-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 4.5fr 1fr;
        grid-template-rows: 50px 100px 1fr 100px;
        grid-template-areas: "header header header" "nav nav nav" "main main ads" "footer footer footer";
    }

    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }

    .main {
        grid-area: main;
        display: flex;
        justify-items: center;
    }

    .ads {
        grid-area: ads;
    }

    .pagination {
        grid-area: pagination;
        flex: 100%;
    }

    .allInfo {
        width: calc(50% - 20px);
        align-items: center;
        justify-content: center;
    }

    .information {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    .links {
        display: grid;
        grid-template-rows: 60px 46px;
        grid-template-areas: "links links links" "views . back";
        text-align: center;
        padding: 10px;
    }


    .shopLinks {
        display: flex;
        grid-area: links;
        justify-content: space-around;
    }

    .views {
        grid-area: views;
        padding: 10px;
    }

    .back {
        grid-area: back;
        padding: 10px;
    }

    .image {
        display: flex;
        width: 220px;
    }

    .annotation {
        grid-area: annotation;
        font-size: 18px;
        font-family: sans-serif;
        padding: 10px;
    }

    .nav {
        grid-area: nav;
        display: inline-block;
        align-self: start;
        width: 98%;
    }
    .navBig ul{
        display: flex;
        justify-content: space-around;
    }
    .nav a {
        padding: 1em 1em;
    }

    .navSmall {
        display: none;
    }

    .views {
        grid-area: views;
        padding: 10px;
    }

    .back {
        grid-area: back;
        padding: 10px;
    }
}

@media (max-width: 700px) {

    .grid-container {
        display: grid;
        min-height: 100vh;
        width: 100%;
    }
    .header {
        height: 50px;
    }
    .nav {
        height: 100px;
    }
    .main {

    }
    .ads {
        height: fit-content;
    }

    .footer {
        height: 100px;
    }

    .information {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .navBig {
        display: none;
    }

    .submenu {
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 10;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }

    .submenu {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    ul li:hover .submenu {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }

    .submenu li a {
        background: #4A90E2;
        width: calc(100% - 20px);
        margin: 2px 10px;

    }

    .links {
        display: grid;
        grid-template-rows: 60px 46px;
        grid-template-areas: "links links links" "views . back";
        text-align: center;
        padding: 10px;
    }

    .shopLinks {
        display: flex;
        grid-area: links;
        justify-content: space-around;
    }

    .views {
        grid-area: views;
        padding: 10px;
    }

    .back {
        grid-area: back;
        padding: 10px;
    }

    .annotation {
        width: 270px;
        grid-area: annotation;
        font-size: 18px;
        font-family: sans-serif;
        padding: 10px;
    }
}

@media (min-width: 540px) and (max-width: 700px) {

    .information {
        flex-wrap: nowrap;
    }
}
@media (min-width: 750px) {
    .nav a {
        padding: 1em 1.5em;
    }
}
@media (min-width: 850px) {
    .nav a {
    padding: 1em 2em;
}
}
@media (max-width: 900px) {
    .allInfo {
        flex-basis: 100%;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {

}

@media (min-width: 1200px ) {
    .nav a {
        padding: 1em 3em;
    }
    .grid-container {
        grid-template-columns: 1fr 7fr 1fr;
    }

    .information {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1600px ) {
    .grid-container {
        grid-template-columns: 1fr 8fr 1fr;
    }
}
