.information {
    display: flex;
}
.image {
    margin: 10px auto;
    width: 400px;
    height: 600px;
}
.image a img {
    width: 400px;
    height: 600px;
    box-shadow: 0px 0px 20px 5px #fefefe;
}
