.book {
    display: flex;
    width: 100%;
}
.information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image {
    margin: 10px auto;
    width: 400px;
    height: 600px;
}
.image a img {
    width: 400px;
    height: 600px;
    box-shadow: 0px 0px 20px 5px #fefefe;
}
.annotation {
    margin: 10px 0;
}

/*
    Main
*/
main {
    display: flex;
    width: 80%;
    min-height: calc(100vh - 120px);
    margin: 10px auto;
}

